@use "./variables.scss" as *;

.registration {
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  padding: 70px 0 60px;
  margin: 0 auto;
  
  @media (min-width: 1500px) {
    width: 1500px;
  }

  &__form-container {
    background: #fff;
    width: 100%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &-instruction {
      margin-bottom: 15px;
    }

    &-title {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 24px;
      color: #333;
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__group {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__captcha-container {
      margin-top: 24px;
    }
  }

  &__captcha {
    border: 1px solid $border-color;
    padding: 16px;
    text-align: center;
    margin-top: 8px;
    border-radius: 5px;
    background: #f9f9f9;
  }

  &__submit {
    background: $user-button;
    padding: 16px 32px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    // &:hover {
    //   background: color.scale($user-button, 10%);
    // }
  }

  &__label {
    font-weight: bold;
    color: #555;
  }

  &__terms {
    font-size: 14px;
    margin-top: 24px;
    text-align: center;
    color: #666;

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__label {
    font-size: 18px;
    color: #333;
    min-width: 175px;
  }

  &__value,
  &__select {
    flex: 1;
    padding: 12px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }

  &__select {
    height: 40px;
    background: #fff;
  }
}